$def with (producto)
<div class="container max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-sm">
    <h5 class="text-xl font-bold mb-4">Detalles del producto</h5>
    <div>
        $for dato in producto:
        <ul>
            <li class="py-2">
                <span class="text-sm font-medium text-gray-900">Nombre del producto:</span>
                <span class="text-base font-semibold text-gray-900">$dato['nombre']</span>
            </li>
            <li class="py-2">
                <span class="text-sm font-medium text-gray-900">Descripción:</span>
                <span class="text-base font-semibold text-gray-900">$dato['descripción']</span>
            </li>
            <li class="py-2">
                <span class="text-sm font-medium text-gray-900">Precio:</span>
                <span class="text-base font-semibold text-gray-900">$dato['precio'] MXN</span>
            </li>
            <li class="py-2">
                <span class="text-sm font-medium text-gray-900">Existencias:</span>
                <span class="text-base font-semibold text-gray-900">$dato['existencias']</span>
            </li>
        </ul>
    </div>
    <div class="text-right mt-4">
        <a href="/"  class="btn btn-outline-primary">Regresar</a>
    </div>
</div>
